@import "index";

nav {
    @apply w-full z-50 relative;

    background: $color-grad-primary;
    height: $height-nav;

    & img {
        @apply inline-block relative mx-16 cursor-pointer;

        height: 60%;
        top: 20%;

        opacity: .8;

        &:hover {
            opacity: 1;
        }
    }

    & ul {
        @apply inline-block relative top-5;

        & li {
            @apply inline-block;

            & a {
               @apply text-link;

               color: $color-extra;

                &:hover {
                    color: $color-plain;
                }
            }

            &:not(:last-child) {
                @apply mr-14;
            }

            .active {
                color: $color-primary-active;
            }
        }
    }

    & .btn {
        @apply float-right mr-48 relative top-5;
    }
}