@import "index";

.page-manage-classes {
    @include page;

    .background-panel {
        @apply absolute;

        width: 80%;
        height: 90%;

        transform: translate(10%, 5%);
    }

    .free-container, .btn-container, .my-container {
        height: 80%;
    }

    .free-container, .my-container {
        height: 80%;
        width: 34%;

        .title {
            @apply text-normal pl-8;
        }

        .flow-layout-panel {
            height: 100%;
        }
    }

    .free-container {
        @apply float-left;

        margin-left: 10%;
    }

    .btn-container {
        @apply float-left relative;

        width: 12%;

        .btn-wrapper {
            @apply absolute w-full;

            top: 50%;
            transform: translateY(-50%);

            button {
                @apply block;
    
                width: 100%;
    
                &:first-child {
                    @apply mb-8;
                }
            }
        }        
    }

    .my-container {
        @apply float-right;

        margin-right: 10%;
    }
}