<div class="page-manage-classes">
    <app-shared-backgound-panel></app-shared-backgound-panel>
    <div class="free-container">
        <span class="title">Free classes</span>
        <app-flow-layout-panel>
            <app-item-classroom
                *ngFor="let classroom of freeClasses"
                [classroom]="classroom">
            </app-item-classroom>
        </app-flow-layout-panel>
    </div>
    <div class="btn-container">
        <div class="btn-wrapper">
            <app-shared-button
                text="Add class"
            ></app-shared-button>
            <app-shared-button
                text="Remove class"
            ></app-shared-button>
        </div>        
    </div>
    <div class="my-container">
        <span class="title">My classes</span>
        <app-flow-layout-panel>
            <app-item-classroom
                *ngFor="let classroom of myClasses"
                [classroom]="classroom">
            </app-item-classroom>
        </app-flow-layout-panel>
    </div>
</div>