/*

Header background

position: absolute;
width: 1920px;
height: 102px;
left: 0px;
top: 0px;

background: linear-gradient(90.26deg, #307373 28.57%, #0B1234 93.95%);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);


Request softwares

position: absolute;
width: 221px;
height: 30px;
left: 195px;
top: 42px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 25px;
line-height: 30px;

color: #FFFFFF;


*/

nav {
    @apply w-screen h-24;

    background: linear-gradient(90.26deg, #307373 28.57%, #0B1234 93.95%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    & img {
        @apply inline-block relative mx-16;

        height: 60%;
        top: 20%;
    }

    & ul {
        @apply inline-block relative top-6;

        & li {
            @apply inline-block;

            & a {
               @apply text-link;
            }

            &:not(:last-child) {
                @apply mr-14;
            }
        }
    }

    & .btn {
        @apply float-right mr-48 relative top-6;
    }
}