@import "index";

nav {
    @apply w-full;

    background: $color-grad-primary;
    height: $height-navbar;

    & img {
        @apply inline-block relative mx-16 cursor-pointer;

        height: 60%;
        top: 20%;
    }

    & ul {
        @apply inline-block relative top-5;

        & li {
            @apply inline-block;

            & a {
               @apply text-link;
            }

            &:not(:last-child) {
                @apply mr-14;
            }
        }
    }

    & .btn {
        @apply float-right mr-48 relative top-5;
    }
}