@import "index";

.layout-form {

    .img-bg {
        z-index: 2;
        height: 75vh;
        transform: translateY(12%);

        &-left {
            @apply float-left;
        }

        &-right {
            @apply float-right;
        }
    }

    .panel-background {
        @apply absolute;

        width: 80%;
        height: 90%;

        transform: translateY(5%);
    }

    .poly-bg {
        @apply absolute top-0 left-0;

        width: 70vh;
        height: 70vh;
        border-radius: 100%;
        background: $color-primary;
        filter: blur(300px);
    }
}