@import "index";



.page-public-footer, .page-public .summary {
    background: $color-grad-secondary;
}
// @media (max-width: 1130px) {
//     .page-public {
//         .feature-dnd {
//             min-height: 10em;
//         }
//         .feature-dnd__cell-1 {
//             min-width: 10em;
//            .description {
//                 display: inline;
//                 position: absolute;
//                 left: 35%;
//                 bottom: 40%;
//             }
//         }
//         .feature-dnd__cell-2 {
//             .drag {
//                 .item-software {
//                     display: inline;
//                     position: absolute;
//                     top: 80%;
//                     width: 20em;
//                 }
//             }
//         }
//         .feature-dnd__cell-3 {
//             .drop {
//                 display: inline;
//                 position: absolute;
//                 top: 80%;
//             }
//         }
//         .img {
//             display: none
//         }
//     }
// }

.page-public {
    
    .description {
        @apply w-fit mx-auto;
    
        padding-top: 10vh;
    
        & li {
            & h2 {
                @apply text-subtitle;
            }
    
            & h3 {
                @apply text-normal;
    
                color: black;
                text-align: left;
            }
        }
    }
    
    
    // .summary {
    //     @include grid--r1-c3;
    
    //     height: 40vh;
    
    //     &__cell-1, &__cell-3 {
    //         width: 80%;
    //         & img {
    //             @apply block m-auto relative;
                
    //             height: 65%;
    //             top: 17.5%;
    //         }
    //     }
    
    //     &__cell-2 {
    //         & ul {
    //             @apply h-fit  relative;



                
    //             top: 25%;
    
    //             & li:first-child{
    //                 @apply mb-10 uppercase;
    //             }
    //         }
    //     }
    // }
    .summary {
        @include grid--r1-c3;
        
        height: 40vh;
    
        &__cell-1 {
            width: 100%;
            & img {
                @apply block m-auto relative;
                
                height: 65%;
                top: 17.5%;
            }
        }
        &__cell-3 {
            width: 100%;
            & img {
                @apply block m-auto relative;
                
                height: 65%;
                top: 17.5%;
            }
        }
    
        &__cell-2 {
            & ul {
                @apply h-fit m-auto relative;

                top: 25%;
    
                & li:first-child{
                    @apply mb-10 uppercase;
                }
            }
        }
    }
    
    
    .feature-dnd {
        @include grid---r1-c5;
    
        background-color: $color-plain;
        height: 40vh;
        
        &__cell-2 {
            & .item-software {
                @apply relative;

                background: linear-gradient(94.97deg, #307373 0%, #7214FF 100%);
                top: 50%;
                transform: translateY(-65%);
            }
        }

        &__cell-3 {
            @apply relative;

            & .panel-drag-n-drop {
                @apply relative;

                height: 50%;
                width: 80%;
                transform: translateY(50%);

                & .placeholder {
                    color: rgba(160, 160, 160, 0.47) !important;
                }
            }

            & img {
                @apply absolute;

                height: 70%;
                top: 50%;
                right: 5%;
                transform: translateY(-40%);
            }
            .avatar img{
                display: block;
                position: absolute;
                left: 2em;
                width: 6.5rem;
                height: 6.5rem;
                background-color: #EFEFEF;
                border-radius: 100%;
                top: 3.2em;
            }
        }

        &__cell-1 {
            position: relative;
            width: 30em;
            left: 5em;
        }
    }
    
    
    .feature-ms {
        @include grid---r1-c5;
    
        background-color: $color-extra;
        height: 30vh;
    
        &__cell-1 {
            & img {
                @apply relative cursor-pointer;
    
                top: 33%;
                height: 34%;
                margin-left: 10%;
            }
        }
    
        &__cell-2 {
            & img {
                @apply block w-fit mx-auto relative;
    
                top: 20%;
                height: 80%;
            }
        }
    }
}


.page-public-footer {
    @apply grid grid-cols-4 grid-rows-3;

    height: 50vh;
    padding: 8vh 20%;

    & .cell-1 { grid-area: 1 / 1 / 2 / 5; }
    & .cell-2 { grid-area: 2 / 1 / 4 / 2; }
    & .cell-3 { grid-area: 2 / 2 / 4 / 3; }
    & .cell-4 { grid-area: 2 / 3 / 4 / 4; }
    & .cell-5 { grid-area: 2 / 4 / 4 / 5; }

    & .cell-1 {
        & h3 {
            @apply text-normal;

            font-weight: 700;
        }
    }

    & div[class^=cell-] {
        & ul {
            & li:first-child {
                @apply mx-auto w-28 h-28 mb-3;

                background-color: $color-extra;
                border-radius: 100%;
            }

            & li {
                & h3 {
                    @apply text-normal;

                    font-weight: 700;
                }

                & h4 {
                    @apply text-normal;

                    font-style: italic;
                }
            }
        }
    }
}

// @media (min-width: 1536px) {
//     .\32xl\:text-5xl {
//         font-size: 4.5rem/* 48px */;
//         line-height: 1;
//     }
// }
// @media (max-width: 1608px) {
//     .\32xl\:text-5xl {
//         font-size: 3.5em/* 48px */;
//         line-height: 1;
//     }
// }
// @media (max-width: 1256px) {
//     .xl\:text-3xl {
//         font-size: 2.5em/* 30px */;
//         line-height: 1em/* 36px */;
//     }
// }
// @media (max-width: 902px) {
//     .lg\:text-2xl {
//         font-size: 1.5em/* 48px */;
//         line-height: 1;
//     }
// }
// @media (max-width: 549px) {
//     .sm\:text-sm {
//         font-size: 1em/* 48px */;
//         line-height: 1;
//     }
//     .summary {
//         max-height: 30vh;
//     }
// }
// @media (max-width: 375px) {
//     .lg\:text-2xl {
//         font-size: 0.95em/* 48px */;
//         line-height: 1;
//     }
// }

@media (max-width: 1575px) {

    .page-public {

        // .summary {
        //     .summary__cell-2 {
                
        //         .line_1 {

        //             /* SOFTWARE MANAGER */
    
        //             width: 553px;
        //             height: 61px;
        //             left: 285px;
        //             top: 225px;
    
        //             font-family: 'Inter';
        //             font-style: normal;
        //             font-weight: 700;
        //             font-size: 50px;
        //             line-height: 61px;
        //             /* identical to box height */
    
        //             color: #FFFFFF;
        //         }
        //         .line_2 {
        //             /* In case you teach in a class that does not have the software which satisfies your requirements, you can claim any it here. */
    
        //             width: 511px;
        //             height: 80px;
        //             left: 306px;
        //             top: 326px;
    
        //             font-family: 'Inter';
        //             font-style: normal;
        //             font-weight: 400;
        //             font-size: 18px;
        //             line-height: 40px;
        //             /* or 222% */
        //             text-align: center;
    
        //             color: #FFFFFF;
        //         }
        //     }
        // }

        .feature-dnd {
            /* Rectangle 5 */

            position: absolute;
            height: 100%;
            width: 100%;
            left: -1px;
            top: 25em;
        }


            .feature-dnd__cell-1 {
                /* Just drag n’ drop First search for the class which needs any extra application then choose the one you need and after that just drag it and drop */

                grid-column: 2;
                left: 0;
                text-align: center;
                margin-left: -5em;
                margin-right: -5em;
                width: auto;
                .description {
                    h3 {
                        text-align: center;
                    }
                }
                // .description {
                //     display: block;
                //     position: absolute;
                //     top: 4em;
                //     left: 16.5em;
                    
                // }
                //     .description .line1 {
                //     position: absolute;
                //     width: 10em;
                //     left: 3em;
                //     top: 0em;
                //     }
                //     .description .line2 h3 {
                //         text-align: center;
                //         position: absolute;
                //         width: 25em;
                //         left: -1.5em;
                //         top: 2em;
                //     }
            }

            .feature-dnd__cell-2 {

                box-sizing: border-box;

                position: absolute;
                width: 10em;
                left: -17em;
                top: 25em;

                background: linear-gradient(94.97deg, #307373 0%, #7214FF 100%);
                border: 2px solid #7214FF;
                backdrop-filter: blur(20px);
                /* Note: backdrop-filter has minimal browser support */
                border-radius: 10px;
                
                .drag {
                    display: block;
                    margin-left: -3em;
                    height: 5em;
                    width: 1em;

                    .item-software {
                        width: 24em;
                    }
                }


            }

            .feature-dnd__cell-3 {
                /* Background */

                box-sizing: border-box;

                position: absolute;
                width: 30em;
                left: -14em;
                top: 22em;
                height: 12em;

                background: rgba(255, 255, 255, 0.08);
                border: 1px solid rgba(238, 238, 238, 0.63);
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                border-radius: 10px;

                .panel-drag-n-drop {
                    top: -6em;
                    width: 30em;
                    height: 12em;
                }
                .img {
                    display: none;
                }
                .avatar img{
                    display: block;
                    position: absolute;
                    left: 2em;
                    width: 6.5rem;
                    height: 6.5rem;
                    background-color: #EFEFEF;
                    border-radius: 100%;
                    top: 3.2em;
                }
            }

        .feature-ms {
                /* Rectangle 5 */
    
                position: absolute;
                width: 100%;
                height: 80%;
                left: 0px;
                top: 75em;
            }
    
            .feature-ms__cell-1 {
                
                grid-column: 2;
                left: 0;
                text-align: center;
                margin-left: -5em;
                margin-right: -5em;
                width: auto;

                img {
                    margin-left: 0;
                }
            }
            .feature-ms__cell-2 {
                
                display: none;
            }
            .feature-ms__cell-3 {
                    

                grid-column: 2;
                left: 0;
                text-align: center;
                margin-left: -5em;
                margin-right: -5em;
                width: auto;


                .description {
                    h2 {
                        text-align: center;
                    }
                    h3 {
                        text-align: center;
                    }
                }
                // .description {
                //     position: absolute;
                //     width: 20em;
                //     height: 5em;
                //     left: 10em;
                //     top: 2em;
                //     font-family: "Inter";
                //     font-style: normal;
                //     font-weight: 700;
                //     font-size: 30px;
                //     line-height: 40px;
                //     text-align: center;
                //     color: #000000;
                // }
                //     .description .line-1 h2{
                //         position: absolute;
                //         width: 10em;
                //         left: 4em;
                //         top: 1em;
                //         }
                //     .description .line-2 h3{
                //         text-align: center;
                //         position: absolute;
                //         width: 35em;
                //         left: -4.5em;
                //     }
                
    
            }
    
    }

   .page-public-footer {
        
        position: absolute;
        display: grid;
        grid-column-gap: 10em;
        height: 30em;
        width: 100%;
        left: 0em;
        top: 104em;
        
        background: linear-gradient(105.17deg, #060B27 25%, #191348 97.49%);
    
        .cell-1 .ul .li{
            padding: 1000px;
        }




    //     .cell-1 {
    //         /* Created by: */
        
    // position: absolute;
    // width: 114px;
    // height: 40px;
    // left: 505px;
    // top: 1866px;

    // font-family: 'Inter';
    // font-style: normal;
    // font-weight: 700;
    // font-size: 20px;
    // line-height: 40px;
    // /* identical to box height, or 200% */
    // text-align: center;

    // color: #FFFFFF;


    //     }
    //     .cell-2 {
    //                 /* Created by: */

    //         position: absolute;
    //         width: 114px;
    //         height: 40px;
    //         left: 505px;
    //         top: 1866px;

    //         font-family: 'Inter';
    //         font-style: normal;
    //         font-weight: 700;
    //         font-size: 20px;
    //         line-height: 40px;
    //         /* identical to box height, or 200% */
    //         text-align: center;

    //         color: #FFFFFF;

    // /* Kozma Hunor Fullstack */

    // position: absolute;
    // width: 132px;
    // height: 80px;
    // left: calc(50% - 132px/2 - 371px);
    // top: calc(50% - 80px/2 + 968.5px);

    // font-family: 'Inter';
    // font-style: normal;
    // font-weight: 700;
    // font-size: 20px;
    // line-height: 40px;
    // /* or 200% */
    // text-align: center;

    // color: #FFFFFF;


    //     }
    //     .cell-3 {
    //         /* Ellipse 16 */

    //         position: absolute;
    //         width: 112px;
    //         height: 112px;
    //         left: calc(50% - 112px/2 - 124px);
    //         top: calc(50% - 112px/2 + 861.5px);

    //         background: #D9D9D9;

    //         /* Szanyi Szabolcs Teamleader */

    // position: absolute;
    // width: 160px;
    // height: 80px;
    // left: calc(50% - 160px/2 - 124px);
    // top: calc(50% - 80px/2 + 968.5px);

    // font-family: 'Inter';
    // font-style: normal;
    // font-weight: 700;
    // font-size: 20px;
    // line-height: 40px;
    // /* or 200% */
    // text-align: center;

    // color: #FFFFFF;



    //     }
    //     .cell-4 {
    // /* Ellipse 16 */

    // position: absolute;
    // width: 112px;
    // height: 112px;
    // left: calc(50% - 112px/2 + 123px);
    // top: calc(50% - 112px/2 + 861.5px);

    // background: #D9D9D9;

    // /* Schaffer Tamás Frontend */

    // position: absolute;
    // width: 154px;
    // height: 80px;
    // left: calc(50% - 154px/2 + 123px);
    // top: calc(50% - 80px/2 + 968.5px);

    // font-family: 'Inter';
    // font-style: normal;
    // font-weight: 700;
    // font-size: 20px;
    // line-height: 40px;
    // /* or 200% */
    // text-align: center;

    // color: #FFFFFF;




    //     }
    //     .cell-5 {
    // /* Ellipse 16 */

    // position: absolute;
    // width: 112px;
    // height: 112px;
    // left: calc(50% - 112px/2 + 370px);
    // top: calc(50% - 112px/2 + 861.5px);

    // background: #D9D9D9;


    // /* Juhász Márton Bendegúz Teamleader */

    // position: absolute;
    // width: 250px;
    // height: 80px;
    // left: calc(50% - 250px/2 + 370px);
    // top: calc(50% - 80px/2 + 968.5px);

    // font-family: 'Inter';
    // font-style: normal;
    // font-weight: 700;
    // font-size: 20px;
    // line-height: 40px;
    // /* or 200% */
    // text-align: center;

    // color: #FFFFFF;



    //     }
    }

}
