@import "index";

.panel-drag-n-drop {
    @apply relative;

    background: rgba(255, 255, 255, 0.08);
    border: 1px solid rgba(238, 238, 238, 0.63);
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    .placeholder {
        @apply text-subtitle block mx-auto w-fit absolute;

        color: rgba(255, 255, 255, 0.47);
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-weight: 400;
    }

    .panel-flow-layout {
        @apply h-full;

        bottom: 6.5em;
        background: transparent !important;
        backdrop-filter: unset !important;

        .item-software {
          margin-top: 6em;
          width: 92.363%;
        }
    }
    .upload-bar {
        height: 10px;
        width: 100px;
        background: #ddd;
        margin: 18px;
        border-radius: 99px;
        width: 91%;
        overflow: hidden;
      }
    #progress-line {
        background: #008cf7;
        width: 0%;
        height: 10px;
        border-radius: 99px;
      }
      .subtitle {
        text-align: center;
        margin-left: 3.5em;
        margin-right: 3.5em;
        font-size: 1.2em;
        color: #ddd;
      }
}