@import "index";

$height-container: 80%;
$width-container: 40%;

.page-request-softwares {

    & .img-bg {
        @apply absolute;

        height: 60%;
        width: 50%;
        top: 20%;
        left: 25%;
    }

    & .container {
        @apply relative grid grid-cols-4;

        grid-template-rows: repeat(11, 1fr);
        grid-column-gap: 0.8rem;
        grid-row-gap: 0.5rem;

        height: $height-container;
        width: $width-container;
        top: calc((100% - $height-container) / 2);

        & .cell-bar {
            & input {
                width: 100%;
            }
        }

        & .cell-btn-s, .cell-btn-c, .cell-btn-a {
            @apply relative;

            & button {
                @apply w-full px-0 absolute;
            }
        }

        & .cell-btn-s, .cell-btn-c {
            & button {
                @apply top-0;
            }
        }
        & .cell-btn-a {
            & button {
                @apply bottom-0;
            }
        }

        & .cell-flp {
            & [_nghost-flp-1], [_nghost-flp-2] {
                & .panel-flow-layout {
                    height: 100%;
                }
            }
        }

        & .cell-dnd {
            & .panel-drag-n-drop {
                height: 100%;
            }
        }

        & .cell-lab {
            & ul li span {
                @apply text-normal;
            }
        }
    }

    & .container-left {
        @apply float-left;

        &__cell-1 { grid-area: 1 / 1 / 2 / 3; }
        &__cell-2 { grid-area: 1 / 3 / 2 / 4; }
        &__cell-3 { grid-area: 1 / 4 / 2 / 5; }
        &__cell-4 { grid-area: 2 / 1 / 11 / 5; }
        &__cell-5 { grid-area: 11 / 1 / 12 / 2; }
    }

    & .container-right {
        @apply float-right;

        &__cell-1 { grid-area: 1 / 1 / 2 / 3; }
        &__cell-2 { grid-area: 1 / 3 / 2 / 4; }
        &__cell-3 { grid-area: 1 / 4 / 2 / 5; }
        &__cell-4 { grid-area: 2 / 1 / 6 / 5; }
        &__cell-5 { grid-area: 6 / 1 / 7 / 5; }
        &__cell-6 { grid-area: 7 / 1 / 11 / 5; }
        &__cell-7 { grid-area: 11 / 1 / 12 / 2; }
    }
}