<div class="page-request-softwares">
    <img class="img-bg" [src]="imgJetpackGuy.src" [alt]="imgJetpackGuy.alt">
    <div class="container-left container">
        <div class="cell-bar container-left__cell-1">
            <app-shared-bar-search
                name="software"
                [value]="searchBars.software"
                (textChange)="onSearchBarChange($event)"
            />
        </div>
        <div class="cell-btn-s container-left__cell-2">
            <app-shared-button
                text="Search" (click)="searchSoftwares()"
            />
        </div>
        <div class="cell-btn-c container-left__cell-3">
            <app-shared-button
                text="Clear" (click)="onClear('software')"
            />
        </div>
        <div class="cell-flp container-left__cell-4">
            <app-shared-panel-flow-layout _nghost-flp-1>
                <app-shared-item-software
                    *ngFor="let software of softwares"
                    [software]="software"
                />
            </app-shared-panel-flow-layout>
        </div>
        <div class="cell-btn-a container-left__cell-5">
            <app-shared-button
                text="Add new"
                (click)="redirectToAddSoftware()"
            />
        </div>
    </div>
    <div class="container-right container">
        <div class="cell-bar container-right__cell-1">
            <app-shared-bar-search
                name="class"
                [value]="searchBars.class"
                (textChange)="onSearchBarChange($event)"
            />
        </div>
        <div class="cell-btn-s container-right__cell-2">
            <app-shared-button
                text="Search" (click)="searchClasses()"
            />
        </div>
        <div class="cell-btn-c container-right__cell-3">
            <app-shared-button
                text="Clear" (click)="onClear('class')"
            />
        </div>
        <div class="cell-flp container-right__cell-4">
            <app-shared-panel-flow-layout _nghost-flp-2>
                <app-shared-item-classroom
                    *ngFor="let classroom of classrooms"
                    [classroom]="classroom"
                    [isSelected]="classroom.id === selectedClassroom"
                    (select)="setSelectedClassroom($event)"
                />
            </app-shared-panel-flow-layout>
        </div>
        <div class="cell-lab container-right__cell-5">
            <ul>
                <li><span>Selected classroom: {{ getSelectedClassroom('roomNumber') }}</span></li>
                <li><span>Storage Capacity: {{ getSelectedClassroom('storageCapacity') }} GB</span></li>
            </ul>
        </div>
        <div class="cell-dnd container-right__cell-6">
            <app-shared-panel-drag-n-drop
                (addSoftware)="addSoftwareClaim($event)"
            >
                <app-shared-item-software
                    *ngFor="let software of softwareClaims"
                    [software]="software"
                />
            </app-shared-panel-drag-n-drop>
        </div>
        <div class="cell-btn-a container-right__cell-7">
            <app-shared-button
                text="Send request"
                (click)="claimSoftware()"
            />
        </div>
    </div>
</div>
<app-shared-pop-up
    *ngIf="popup"
    [props]="popup"
/>