@import "index";

/*

Background v2

position: absolute;
width: 1920px;
height: 1812px;
left: 0px;
top: -1px;

background: linear-gradient(105.17deg, #060B27 25%, #191348 97.49%);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);


*/


footer, .summary {
    @include box-shadow;

    background: $color-grad-public_primary;
    height: 40vh;
}

.summary {
    @include grid--r1-c3;

    &__cell-1, &__cell-3 {
        & img {
            @apply block m-auto relative;

            height: 65%;
            top: 17.5%;
        }
    }

    &__cell-2 {
        & ul {
            @apply h-fit relative;

            top: 25%;

            & li:first-child{
                @apply mb-10 uppercase;
            }
        }
    }
}


.feature-dnd {
    @include grid--r1-c3;

    background-color: $color-public_basic;
    height: 35vh;
}


.feature-ms {
    @include grid--r1-c3;

    background-color: $color-public_special;
    height: 30vh;
}


footer {
    @apply grid grid-cols-4 grid-rows-3;

    .cell-1 { grid-area: 1 / 1 / 2 / 5; }
    .cell-2 { grid-area: 2 / 1 / 4 / 2; }
    .cell-3 { grid-area: 2 / 2 / 4 / 3; }
    .cell-4 { grid-area: 2 / 3 / 4 / 4; }
    .cell-5 { grid-area: 2 / 4 / 4 / 5; }
}


.text {
    @apply text-center;
}