// GRADIENTS
$color-grad-navbar: linear-gradient(90.26deg, #307373 28.57%, #0B1234 93.95%);
$color-grad-public_primary: linear-gradient(105.17deg, #060B27 25%, #191348 97.49%);
$color-public_basic: white;
$color-public_special: #EFEFEF;