<div class="page-public">
    <section class="summary">
        <div class="summary__cell-1">
            <img src="assets/images/image-sum01.svg" alt="Summary image 1">
        </div>
        <div class="summary__cell-2">
            <ul>
                <li>
                    <h1 class="text-title">Software Manager</h1>
                </li>
                <li>
                    <h3 class="text-normal">In case you teach in a class that does not have the software</h3>
                    <h3 class="text-normal">which satisfies your requirements, you can claim any it here.</h3>
                </li>
            </ul>
        </div>
        <div class="summary__cell-3">
            <img src="assets/images/image-sum02.svg" alt="Summary image 2">
        </div>
    </section>
    <section class="feature-dnd">
        <div class="feature-dnd__cell-1">
            <ul class="description">
                <li>
                    <h2>Just drag n' drop</h2>
                </li>
                <li>
                    <h3>First search for the class which needs any extra</h3>
                    <h3>application then choose the one you need and after</h3>
                    <h3>that just drag it and drop</h3>
                </li>
            </ul>
        </div>
        <div class="feature-dnd__cell-2">
            <app-shared-item-software
                [software]="dummySoftware"
            ></app-shared-item-software>
        </div>
        <div class="feature-dnd__cell-3">
            <app-shared-drag-n-drop></app-shared-drag-n-drop>
            <img src="assets/images/image-dnd01.svg" alt="Drag and drop image 1">
        </div>
    </section>
    <section class="feature-ms">
        <div class="feature-ms__cell-1">
            <img src="assets/images/image-mslogin.svg" alt="Sign in with Microsoft">
        </div>
        <div class="feature-ms__cell-2">
            <img src="assets/images/image-ms01.svg" alt="Microsoft image 1">
        </div>
        <div class="feature-ms__cell-3">
            <ul class="description">
                <li>
                    <h2>MS login</h2>
                </li>
                <li>
                    <h3>No need for creating a profile from scratch.</h3>
                    <h3>You can easily use your already existing Microsoft profile.</h3>
                </li>
            </ul>
        </div>
    </section>
</div>
<footer class="page-public-footer">
    <div class="cell-1">
        <h3>Created by:</h3>
    </div>
    <div class="cell-2">
        <ul>
            <li></li>
            <li><h3>Kozma Hunor</h3></li>
            <li><h4>Fullstack</h4></li>
        </ul>
    </div>
    <div class="cell-3">
        <ul>
            <li></li>
            <li><h3>Szanyi Szabolcs</h3></li>
            <li><h4>Teamleader</h4></li>
        </ul>
    </div>
    <div class="cell-4">
        <ul>
            <li></li>
            <li><h3>Schaffer Tamás</h3></li>
            <li><h4>Frontend</h4></li>
        </ul>
    </div>
    <div class="cell-5">
        <ul>
            <li></li>
            <li><h3>Juhász Márton Bendegúz</h3></li>
            <li><h4>Teamleader</h4></li>
        </ul>
    </div>
</footer>